{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
    <h1>Question index</h1>
    {% for question in questions %}
        <div class="question">
            {% apply markdown_to_html %}
                {{ question.content }}
            {% endapply %}

            <br>

            {{ include('question/_delete_form.html.twig') }}

            <a href="{{ path('app_question_edit', {'id': question.id}) }}">
                <button>Edit</button>
            </a>
        </div>
    {% else %}
        <p>no records found</p>
    {% endfor %}

    <a href="{{ path('app_question_new') }}">Create new</a>
{% endblock %}
