body {
    background-color: lightgray;
}

.question {
    margin-bottom: 10px;
}

.question p {
    margin-bottom: 0;
}

.question form {
    display: inline-block;
}

form #question div {
    display: flex;
}

form #question label {
    min-width: 100px;
}

form #question input[type="text"] {
    width: 500px;
}

ul {
    margin: 0;
}

.answers>div {
    margin: 10px 0;
    display: flex;
    align-items: flex-start;
}

.answers>div button {
    margin-left: 10px;

}

.answer>div {
    flex: 1;
}