body {
  background-color: lightgray;
}

.question {
  margin-bottom: 10px;
}

.question form {
  display: inline-block;
}

form #question div {
  display: flex;
}

form #question label {
  width: 100px;
}

form #question input,
form #question textarea
{
  width: 500px;
}

ul {
  margin: 0;
}